*{
    box-sizing: border-box;
    margin:0;
}

body{
    font-family: "Raleway",sans-serif ;
}

p{
    line-height: 2 ;
}

.wrapper {
    max-width: 1024 px;
    margin: 0 auto;
}

/* Header */

header{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.photo{
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    z-index: -100;
}

h1 {
    margin:16px;
    letter-spacing: 4px;
    font-size:48px;
    font-weight: 500;
    text-align: center;
}

.btn {
    background: #d671a7;
    color: black;
    padding: 12px;
    min-width: 160px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    margin-top: 16px;
    border:1px solid #ffffff;
}

i{
    margin:0 8px;
}

/* Navbar logo */

.logo{
    height: 40px;
}

.logo img{
    height: 100%;
}

nav{
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1024px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    margin:0 auto;
    transition: padding .4s;
}

nav.scrolled{
    background: white;
    height: 50px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.75);
}

nav.scrolled .desktop-nav li a{
    color: black;
}

.desktop-nav {
    display:flex;
}

.desktop-nav li{
    list-style: none;
    margin:0 16px;
}

.desktop-nav li a{
    color: white;
    text-decoration: none;
}

.desktop-nav li a:hover {
    text-decoration: underline;
}

/* Section */

section{
    padding:16px;
    display: flex;
}

section .thumbnail img{
    height:320px;
}

h2{
    margin:8px 0;
    background:	#d671a7;
    width:200px;
    padding: 8px;
}

/* Work Section */

.work {
    background: url(../videos/140040.jpg) #d671a7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.active-work{
    max-width: 700px;
    position: relative;
    margin: 0 auto;
}

.active-img-desc{
    position: absolute;
    bottom: 16px;
    left:16px;
    right:16px;
    background: rgba(0, 0, 0, 0.9);
    padding:16px;
    color: white;
}

.active-work img,.work-gallery,.img-card img{
    width:100%;
    border:2px solid pink;
}

.work-gallery .img-card .img-desc {
    display: none;
}

.work-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-gallery .img-card {
    width:200px;
    margin:8px;
    cursor: pointer;
}

/*testimonial section */

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.testimonial img{
    width: 150px;
    border-radius:50%;
    margin:24px;
}

h3 {
    margin: 8px;
    font-weight:normal;
}


/*Footer*/

footer {
    background: black;
    color: white;
    text-align: center;
    padding:16px;
}

.social-icons {
    margin:16px;
    font-size:32px;
}

.social-icons a{
    color:white;
}

footer i{
    transition: all .4s;
}

footer .fa-facebook:hover {
    color: #3c5a99;
}

footer .fa-instagram:hover {
    color: #e1306c;

}

footer .fa-twitter-square:hover {
    color: #1da1f2;

}


